<div id="<%= dom_id amazonloginpage %>">
  <p>
    <strong>Username:</strong>
    <%= amazonloginpage.username %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= amazonloginpage.lastname %>
  </p>

</div>
