<h1>Editing amazonloginpage</h1>

<%= render "form", amazonloginpage: @amazonloginpage %>

<br>

<div>
  <%= link_to "Show this amazonloginpage", @amazonloginpage %> |
  <%= link_to "Back to amazonloginpages", amazonloginpages_path %>
</div>
